<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d7f36e77-0761-4f25-b935-5c2a5a4bc435" Alias="search" Level="1">
  <Info>
    <Name>Search</Name>
    <Icon>icon-search color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Search</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a419e8be-f725-4178-853a-03c8123861ed">Search</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>